<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/category/{{category.id}}">{{category.name}}</a></li>
        <li class="breadcrumb-item"><a href="/item/{{id}}">{{item.name}}</a></li>
    </ol>
</nav>

{{#with item}}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{> carousel}}
            </div>
            <div class="col-md-6">
                <h5 class="mt-2">{{page_title}}</h5>
                <p>{{{long_description}}}</p>
                <div class="row justify-content-between">
                    <div class="col-4">
                        {{#if orderable}}
                            <a href="#" class="btn btn-primary">
                                Buy Now
                            </a>
                        {{else}}
                            <a href="#" class="btn btn-primary disabled" aria-disabled="true">
                                Unable to buy
                            </a>
                        {{/if}}
                    </div>
                    <div class="col-8">
                        Price: {{price}}
                        <div class="btn-group">
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                {{currency}} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">{{currency}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/with}}