{{#with currentCategory}}
    {{> breadcumb}}
{{/with}}

<div class="container">
    <div class="row">
    {{#each itemlist}}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="img-square-wrapper card-img-top">
                    {{#with this}}
                        {{> thumbnail}}
                    {{/with}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{this.page_title}}</h5>
                    <p class="card-text">{{{this.short_description}}}</p>
                    <p class="card-text">Price: {{getCurrencySymbol this.currency}}{{this.price}}</p>
                    <a href="/item/{{this.id}}" class="btn btn-primary
                    {{#unless this.orderable}} disabled" aria-disabled="true"
                    {{#if false}}"{{/if}}
                    {{!-- Just a workaround ^ --}}
                    {{else}}"{{/unless}}>
                        More Info
                    </a>
                </div>
            </div>
        </div>
    {{/each}}
    </div>
</div>